ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    background-color: grey;
    font-style: black;
}
#leftMenu{
    justify-content: center;
}
#rightMenu{
    justify-content: center;
}
li{
    margin: 10px;
}