ul{
    list-style: none;
}
#mainMenu ul {
    display: flex;
    color: white;
    height: 4vh;
    width:70%;
    align-items: center;
    justify-content: space-between;
}
#mainMenu{
    width: 100vw;
    background-color: red;
}
#asideMenu{
    background-color: gray;
    color: black;
    height: 100%;
}
#asideMenu ul{
    height: 100%;
    box-sizing: border-box;
}
#asideMenu ul li{
    padding: calc(7%) 0;
}
#navigation{
    height: 40vh;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: grey;
}
